/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* ===== GLOBAL STYLES ===== */
@font-face {
  font-family: 'Gentium Basic';
  src: url('fonts/GenBasR-webfont.eot');
  src: url('fonts/GenBasR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GenBasR-webfont.woff') format('woff'),
       url('fonts/GenBasR-webfont.ttf') format('truetype'),
       url('fonts/GenBasR-webfont.svg#GentiumBasicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
  color: #333;
  font: normal 18px/1.6em 'Gentium Basic', Palatino, Georgia, serif;
}
.visibleOverflow {
  overflow: visible !important;
}
.wrap {
  overflow: hidden;
  margin: 0 auto;
  padding: 0 10px;
  width: 750px;
}
.content code,
.content pre {
  font: normal 16px/1.3em 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
}
.content hr {
  height: 1px;
  border: 0;
  background: #888;
}
.content blockquote {
  overflow: hidden;
  padding: 0 1em;
  min-height: 120px;
  border-left: 5px solid #888;
  background: rgba(0, 0, 0, 0.1) url('images/bg-quote.png') no-repeat right bottom;
}
.content a {
  border-bottom: 1px dotted #800;
  color: #800;
  text-decoration: none;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin: 1em 0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-weight: bold;
}
.content h1 { font-size: 26px; }
.content h2 { font-size: 20px; }
.content h3 { font-size: 16px; }
.content h4 { font-size: 14px; }
.content h5 { font-size: 14px; }
.content h6 { font-size: 14px; }
.content h1 a, .content h2 a, .content h3 a, .content h4 a, .content h5 a, .content h6 a {
  border-bottom-width: 2px;
}
.content p {
  margin: 1.5em 0;
}
.content ul > li {
  list-style: none;
  margin: 1em 2em;
  padding-left: 15px;
  background: transparent url('images/li-bullet.png') no-repeat 0 10px;
}
.content audio {
  display: block;
  width: 300px;
}
.content table {
  margin: 0 auto;
  font-size: 70%;
  line-height: 1.3em;
}
.content table tr {
  background: #ddd;
}
.content table tr:nth-child(odd) {
  background: #bbb;
}
.content table td,
.content table th {
  min-width: 5em;
  padding: 0.25em 0.5em;
  border-left: 1px solid #888;
  font-weight: normal;
  text-align: left;
}
.content table td:first-child,
.content table th:first-child {
  border-left: 0;
}
.content table th {
  background: #333;
  color: #fff;
}

/* ===== GLOBAL TOP BRANDING ===== */
#branding {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  background: #eee;
}
#branding .wrap {
  position: relative;
}
#branding #logo,
#branding #logo img {
  display: block;
  margin: 10px 0;
  border: 0;
}
#branding #logo.bigLogo img {
  margin: 10px auto;
}
#branding .guy {
  overflow: hidden;
  width: 199px;
  height: 39px;
  margin: 0 50px;
  background: transparent url('images/header-guys.png') no-repeat 0 0;
  text-indent: -9999px;
}
#branding .guy.web {
  float: left;
  background-position: 0 0;
}
#branding .guy.sound {
  float: right;
  background-position: 0 -50px;
}
#brandingNav {
  position: absolute;
  right: 10px;
  top: -5px;
}
#brandingNav .navLevel1 > li {
  position: relative;
  float: left;
  margin-left: 20px;
}
#brandingNav .navLevel1 > li a {
  display: block;
  height: 25px;
  padding: 5px;
  color: #888;
  text-decoration: none;
}
#brandingNav .navLevel1 > li:hover {
  box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.75);
}
#brandingNav .navLevel1 > li:hover a {
  background: #333;
  color: #fff;
}
#brandingNav .navLevel2 {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  z-index: 9999;
}
#brandingNav .navLevel1 > li:hover .navLevel2 {
  display: block;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}
#brandingNav .navLevel1 > li:hover .navLevel2 > li a {
  width: 200px;
}
#brandingNav .navLevel1 > li:hover .navLevel2 > li:hover a {
  background: #888;
}

/* ===== DEFAULT PAGE ===== */
img.defaultScott {
  display: block;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  width: 250px;
  height: 250px;
}

/* ===== ARTICLE/PROJECT PAGES ===== */
.articles .byline {
  margin-top: -1em;
  color: #888;
}
.articles .floatLeft,
.projects .floatLeft {
  display: block;
  float: left;
  margin-right: 1em;
  max-width: 45%;
  border: 1px solid #bbb;
}
.articles .floatRight,
.projects .floatRight {
  display: block;
  float: right;
  margin-left: 1em;
  max-width: 45%;
  border: 1px solid #bbb;
}
.articles .floatNone,
.projects .floatNone {
  display: block;
  clear: both;
  margin: 0 auto;
  max-width: 100%;
  border: 1px solid #bbb;
}
.articles .summary,
.projects .summary {
  margin: 1.5em 0;
  padding: 0 1em;
  border: 1px solid #ccc;
  background: #eee;
}
.articles .feature > p:last-child:after,
.projects .feature > p:last-child:after {
  content: '\03A9';
  padding-left: 0.33em;
}
.articles .feature .syntax-highlight-box,
.projects .feature .syntax-highlight-box {
  font-size: 14px !important;
}
.articles .feature .syntax-highlight-box table,
.projects .feature .syntax-highlight-box table {
  margin: 1em !important;
}

/* ===== RESUME PAGE, CREDITS PAGE ===== */
.resume,
.credits {
  margin-bottom: 1.5em;
}
.resume header h1,
.credits header h1 {
  display: none;
}
.resume h2,
.credits h2 {
  background: #333;
  color: #fff;
  text-align: center;
}
.resume ul > li,
.credits ul > li {
  background-position: 0 9px;
  margin: 0.5em 2em;
}
.resume h3,
.resume p {
  margin: 0.5em 0;
}

/* ===== FANCYBOX SUPPORT ===== */
.fbox-wrap {
  display: block;
  position: relative;
}
.fbox-wrap img {
  display: block;
  margin: 0 auto;
  max-width: 100% !important;
}
.fbox-wrap .overlay {
  display: block;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  background: transparent url('images/bg-expandable.png') no-repeat left top;
}
.fbox-wrap a,
.fancybox-overlay a {
  border: 0;
}
