{{ define "pageContent" }}
    {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
    {{ $multipage := gt $paginator.TotalPages 1 }}

    <section>
        {{ partial "page-content-header.html" . }}

        {{ .Content }}

        {{ range $paginator.Pages }}
            <h2><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .LinkTitle | markdownify }}</a></h2>

            <p>
                {{ partial "date.html" (dict "context" . "dateVal" .Date) }}
                {{- .Description | markdownify }}
                {{- " " }}<a href="{{ .RelPermalink }}" class="more-link">More&nbsp;&raquo;</a>
            </p>
        {{ end }}

        {{ if $multipage }}
            <hr>

            {{ template "_internal/pagination.html" . }}
        {{ end }}
    </section>
{{ end }}
