{{/*
    Renders a link using a named record from the `links.toml` data file. Each
    entry in that file should have the following form:

        [keyname]
        href = 'scheme://example'
        text = 'Example Link'
        dead = false  # If true, link is drawn with a line-through decoration

    To insert this link, put {{% link keyname /%}} in the content page.

    The shortcode call accepts inner text; if present this will override the
    `text` value set in the data file. If there is no text from either source,
    the `href` is used as the display text. The nonsense with the ZWJ is to
    prevent the Markdown renderer from double-wrapping any raw/textless URLs.

    Positional parameters:
        0: The name of the key to read from the `links.toml` data.
        1 (optional): If true, ignores any text defined in the link data or
            shortcode call and instead use the link's `href` as the output text.
*/}}

{{- $id := .Get 0 }}
{{- $raw := .Get 1 | default false }}

{{- with index site.Data.links $id }}
    {{- $text := $.Inner | default .text }}
    {{- if or $raw (not $text) }}
        {{- $text = replace (.href | strings.TrimRight "/") "/" "&zwj;/" }}
    {{- end }}

    {{- "" }}<a href="{{ safeURL .href }}" rel="external" {{ if .dead }}class="dead"{{ end }} data-link-id="{{ $id }}">{{ $text | markdownify }}</a>
{{- else }}
    {{- errorf "Link %s not defined: %s" $id .Position }}
{{- end -}}
